.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1920px;
  height: 960px;
  overflow: hidden;
}

.group_1 {
   width: 100% ; /* 1920px; */
  height: 100% ; /* 960px; */
  /* background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/ps445i18y79m3ytxqof950d57nb5m6yov0ca98771-e810-4b98-8ad5-4313f046a838) -428px -85px
    no-repeat; */
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  background-size: 100% 100%;
}

.box_1 {
  width: 1226px;
  height: 69px;
  margin: 48px 0 0 347px;
}

.image_1 {
  width: 264px;
  height: 69px;
}

.group_2 {
  width: 66px;
  height: 30px;
  margin: 26px 0 0 118px;
}

.text_1 {
  width: 35px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFang-SC-Bold;
  text-align: left;
  white-space: nowrap;
  line-height: 100px;
  margin-left: 15px;
}

.image_2 {
  width: 66px;
  height: 2px;
  margin-top: 11px;
}

.text_2 {
  width: 74px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFang-SC-Bold;
  text-align: left;
  white-space: nowrap;
  line-height: 100px;
  margin: 26px 0 0 52px;
}

.text_3 {
  width: 35px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFang-SC-Bold;
  text-align: left;
  white-space: nowrap;
  line-height: 100px;
  margin: 26px 0 0 70px;
}

.text_4 {
  width: 35px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFang-SC-Bold;
  text-align: left;
  white-space: nowrap;
  line-height: 100px;
  margin: 26px 0 0 70px;
}

.text_5 {
  width: 36px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFang-SC-Bold;
  text-align: left;
  white-space: nowrap;
  line-height: 100px;
  margin: 26px 0 0 62px;
}

.image_3 {
  width: 120px;
  height: 41px;
  margin: 14px 0 0 224px;
}

.image_4 {
  width: 1237px;
  height: 327px;
  margin: 192px 0 0 342px;
}

.box_2 {
  width: 750px;
  height: 31px;
  margin: 24px 0 0 575px;
}

.label_1 {
  width: 30px;
  height: 31px;
}

.text_6 {
  width: 300px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: PingFang-SC-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 100px;
  margin: 3px 0 0 22px;
}

.image-text_1 {
  width: 356px;
  height: 31px;
  margin-left: 42px;
}

.label_2 {
  width: 32px;
  height: 31px;
}

.text-group_1 {
  width: 312px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: PingFang-SC-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 100px;
  margin-top: 3px;
}

.text-wrapper_1 {
  height: 61px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/pstx5143eauhjff2bwybttyr70ttaai1a6t570de05f-aa2b-4d16-9d14-eab2d066dcae)
    100% no-repeat;
  background-size: 100% 100%;
  width: 160px;
  margin: 72px 0 136px 880px;
}

.text_7 {
  width: 77px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(6, 10, 55, 1);
  font-size: 18px;
  font-family: PingFang-SC-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 100px;
  margin: 23px 0 0 42px;
}
